// esquema de colores

// primer esquema de color
$white: #fff;
$platinium: #E6E7E7;
$Lightgray: #D1D1D1;

// segundo esquema de color
$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;

// tercer esquema de color
$eerieblack: #121619;
$raisinblack: #222323;
$Nickel: #6C6E70;

// tipografia
$roboto: 'Roboto', sans-serif; 
$playfair: 'Playfair Display', serif;

// tamaños de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

$navigation-padding-y:              .5rem !default;
$navigation-padding-x:              .75rem !default;
$navigation-padding-y-sm:           .25rem !default;
$navigation-padding-x-sm:           .5rem !default;
$navigation-padding-y-lg:           .75rem !default;
$navigation-padding-x-lg:           1.5rem !default;
$navigation-line-height:            1.25 !default;

$navigation-color:                  $link-color !default;
$navigation-bg:                     $white !default;
$navigation-border-width:           $border-width !default;
$navigation-border-color:           $gray-300 !default;

$navigation-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$navigation-focus-outline:          0 !default;

$navigation-hover-color:            $link-hover-color !default;
$navigation-hover-bg:               $gray-200 !default;
$navigation-hover-border-color:     $gray-300 !default;

$navigation-active-color:           $component-active-color !default;
$navigation-active-bg:              $component-active-bg !default;
$navigation-active-border-color:    $navigation-active-bg !default;

$navigation-disabled-color:         $gray-600 !default;
$navigation-disabled-bg:            $white !default;
$navigation-disabled-border-color:  $gray-300 !default;

