footer{
    widows: 320px;
    height: 160px;
    top: -13px;
    position: relative;
    z-index: 1;
    background-color: $eerieblack;
    overflow-x: hidden;
    
}
.footer__img{
    width: 62px;
    height: 25px;
}
@media (min-width: 1200px){
    footer{
        widows: 100%;
        height: 206px;
        padding: 70px;
        
    }
    .footer__container{
        margin-top: 20px;
    }
    .footer__img{
        width: 122px;
        height: 50px;
        
    }
}